@import "tailwindcss";
@tailwind base;

/*Load styles for pre-build components*/
@tailwind components;

/*Load utility classes like flex*/
@tailwind utilities;

@layer base {
  /* Define CSS variables for themes */
  :root {
    --color-primary: #1F2937;
    --color-secondary: #E5E7EB;
    --color-accent: #3B82F6;
  }
  .dark {
    --color-primary: #1E3A8A;
    --color-secondary: #D1D5DB;
    --color-accent: #60A5FA;
  }

  body {
    font-family: 'Inter', sans-serif;
    color: theme('colors.gray.900');
    background-color: theme('colors.gray.50');
  }

  /* Apply background images based on the theme */
  .dark {
    background-image: url('Galaxy (1).jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .light {
    background-image: url('Galaxy (5).jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}
